.nav{
    padding-top: 30px;
}

.home-icon,
.add-icon{
    font-size: 30px;
    color: #f1e0e9;
}

.home-icon:hover,
.add-icon:hover,
.home-icon:focus,
.add-icon:focus{
    color: #dfdddebd;
}

.logo i{
    margin-right: 5px;
    font-size: 20px;
    color: #dfddde;

}